@media (min-width: 600px){
   .titulo2 h2 {
    font-size: 60px;
  }

  .eslogan,
  .contacto {
    font-size: 30px;
    padding: 120px;
  }

  footer {
    height: auto;
    align-items: center;

    p {
      font-size: 15px;
      text-align: center;
    }
  }

  .nosotros h1 {
    font-size: 35px;
  }

  .laempresa p {
    font-size: 20px;
  }

  .prodypre h1 {
    font-size: 35px;
  }

  .precios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 230px);
    gap: 20px;
    padding: 25px;
  }

  .producto img {
    border-radius: 5px;
  }
}



@media (min-width: 1024px) {
  .titulo2 h2 {
    font-size: 60px;
  }

  .eslogan {
    font-size: 65px;
  }

  footer {
    height: auto;
    align-items: center;

    p {
      font-size: 20px;
      text-align: center;
    }
  }

  .nosotros h1 {
    font-size: 70px;
  }

  .laempresa p {
    font-size: 30px;
  }

  .prodypre h1 {
    font-size: 70px;
  }

  .precios {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 230px);
    gap: 40px;
    padding: 50px;
  }

  .producto img {
    border-radius: 10px;
  }
}

